@import "./styles/reset.css";

body {
  background-color: #fafbfc;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Noto Sans,
    Ubuntu, Droid Sans, Helvetica Neue, sans-serif;
  font-size: 14px;
  line-height: normal;
  font-weight: 400;
}
.App__title {
  font-size: 24px;
}
.App__boards-wrapper {
  margin-top: 10px;
}

.container {
  width: 100%;
  max-width: 1040px;
  margin: 0 auto;
}

.header {
  background-color: grey;
  height: 100px;
  width: 100%;
}
